.jumbotron-header {
  position: relative;
  background: linear-gradient(274.83deg, #5db0df 0.58%, #5d7adf 74.3%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 350px;
  z-index: -1;
}

.text-font {
  font-family: Poppins;
  font-style: normal;
  color: #ffffff;
}

.header {
  position: absolute;
  height: 72px;
  top: 127px;
  left: 143px;
  font-size: 48px;
  font-weight: bold;
  line-height: 72px;
}

.header-paragraph {
  position: absolute;
  height: 30px;
  left: 143px;
  top: 197px;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}

.producer-card {
  background: #ffffff;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}

.producer-button {
  text-align: right;
}

.btn-block {
  width: 85%;
}

.searchbar {
  position: relative;
  height: 80px;
  bottom: 45px;
}

.form-control {
  border: 1px solid #fff;
}

@media only screen and (max-width: 600px) {
  .producer-card {
    text-align: center;
  }
  .product-title {
    padding-top: 20px;
  }
  .producer-button {
    text-align: center;
  }
  .searchbar {
    height: 200px;
  }
  .btn-block {
    width: 90%;
    margin-left: 20px;
  }
  .jumbotron-header {
    height: 400px;
  }
  .header {
    top: 70px;
    left: 75px;
    font-size: 30px;
  }
  .header-paragraph {
    left: 45px;
    top: 180px;
  }
}
